<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav>
  <h1>개발자 커뮤니티</h1>
  <ul>
    {% if g.user %}
    <li><span>{{ g.user['username'] }}</span></li>
    <li><a href="{{ url_for('auth.logout') }}">로그아웃</a> {% else %}</li>

    <li><a href="{{ url_for('auth.register') }}">회원가입</a></li>
    <li>
      <a href="{{ url_for('auth.login') }}">로그인</a>
      {% endif %}
    </li>
  </ul>
</nav>
<section class="content">
  <header>
      {% block header %}{% endblock %}
    </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
